flask
flask-socketio
eventlet
requests
smartapi-python
pyotp
selenium
webdriver-manager
pandas
logzero
httpx
google-generativeai
Pillow
pandas
matplotlib
yfinance
mplfinance
groq
sentry-sdk[flask]
websocket-client==1.7.0
