flask
flask-socketio
eventlet
requests
smartapi-python
pyotp
selenium
webdriver-manager
pandas
logzero
httpx
google-genai
Pillow
pandas
matplotlib
yfinance
mplfinance
groq
sentry-sdk[flask]
websocket-client==1.7.0
protobuf==3.20.3
upstox-python-sdk
google-auth>=2.28.0
google-auth-oauthlib>=1.2.0
pymongo==4.6.1
